<!-- Navigation -->
<app-nav></app-nav>
  <section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
      <h1 class="orange">TASK HIVE</h1>
      <h3>
          <em class="black" >Your Go To Project Managment Software</em>
        </h3>
      <a class="btn btn-primary btn-xl smooth-scroll" (click)="goprojects()">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </section>
  <!-- Header Ends -->
  <!-- About Us Starts -->
  <section id="About" class="content-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="block-heading">
            <h2>About Us</h2>
          </div>
          <p class="lead">The project management system is designed to be user-friendly and flexible, allowing users to customize their tasks and projects according to their specific needs. The system provides a range of features including task assignment, progress tracking and deadline management that help users collaborate effectively.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Starts -->
  <section id="Services" class="content-section text-center">
    <div class="container">
      <div class="block-heading">
        <h2>What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon yellow">
              <div class="front-content">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h3>Project Managment</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Project Managment</h3>
              <p>Ability to create, modify, and delete tasks and projects.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                <i class="fa fa-suitcase"></i>
                <h3>Progress tracking</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Progress tracking</h3>
              <p>Progress tracking and monitoring of tasks and projects.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box ">
            <div class="service-icon red">
              <div class="front-content">
                <i class="fa fa-male" aria-hidden="true"></i>
                <h3>deadlines tracking</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>deadlines tracking</h3>
              <p>Ability to set deadlines for tasks and projects.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <i class="fa fa-users"></i>
                <h3>Scalability</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Scalability</h3>
              <p>the system should be able to handle increasing volumes of data and users as the organization grows.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TESTIMONIALS -->
  <section id="Testimonials" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-heading">
            <h2>The Team</h2>
            <p>Worked with Angular, Bootstrap, mySQL and PHP </p>
          </div>
          <div id="customers-testimonials" class="owl-carousel">
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/ahmed.jpg" alt="">
                <p>API integration</p>
              </div>
              <div class="testimonial-name">Ahmed Hajjem</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/jemmali.jpg" alt="">
                <p>Backend Creation</p>
              </div>
              <div class="testimonial-name">Amine Jemmali</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/aziz.jpg" alt="">
                <p>Frontend Creation </p>
              </div>
              <div class="testimonial-name">Aziz Bel Haj Yahia</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF TESTIMONIALS -->
<app-footer></app-footer>
