html,
body {
    height: 100%;
}

body {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;

}

/* ............................ 
        NAVIGATION
...............................*/
.navbar {
    height: 70px;
    margin-bottom: 40px;
    
}
.nav-item:hover {
    color:#f7ba2b;
    font-size: 1.3em;
    text-decoration: underline;
}
.navbar-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

 
a.nav-link ul{
        font-size: 20px;


}
#dropdownMenuButton1 {
    margin-top: 5px;
    border-radius: 12px;
    color: white;
    background-color: #f7ba2b;
    border-color: #f7ba2b;
    height: 35px;
    width:50px;
}
a.btn {
    border-radius: 12px;
    color: white;
    background-color: #f7ba2b;
    border-color: #f7ba2b;
}
a.btn:hover {
    color: white;

}


h5.card-title {
    color:#f7ba2b;
}
/**/
 @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 4em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #f7ba2b;
}

.content h2:nth-child(2) {
  color: #f7ba2b;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #f7ba2b;
  }
  
  .form-input {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #F9F9F9;
    color: #333333;
  }
  
  select option[value=""] {
    color: #A9A9A9;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #f7ba2b;
  }
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-family:monospace ; 
    color : #f7ba2b;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .save-modal {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        color: #fff;
        background-color:#f7ba2b;
    }
  .tes{
    padding-left: 30px;
  }
  